body {
    margin: 0;
    background-color: #504945;
}

h2 {
    font-size: 2rem;
    color: #D65D0E;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: monospace;
    font-weight: bold;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr 1fr;

    gap: 10px;
    padding: 60px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    border: 4px solid #d79921;
    grid-row-start: 2;
    background-color: #bdae93;
    border-radius: 25px;
}

.image img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}